* {
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
}


.sketchPad {
    display: flex; 
    flex-direction: column;
    background-color: white;
    height: 960px; 
    width: 960px;
}

.grid-rows {
    display: flex;
    flex: 1;
}

.grid-boxes {
    display: flex;
    flex: 1;
    border: 1px solid black;
    background-color: blueviolet;
}