* {
    margin: 0px;
    padding: 0px;
}


.contain-all {
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}
.contain-outputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sketchPad {
    display: flex; 
    border: 4px solid red;
    flex-direction: column;
    background-color: white;
    height: 628px; 
    width: 628px;
}

.control-sketch {
    display: flex;
    border: 4px solid red;
    flex-direction: column;
    background-color: lightslategray;
    align-items: center;
    height: 400px;
    width: 400px;

}

.control-sketch .sizeText {
    margin-top: 10px;
    font-weight:bold;
    font-size: 17px;
    color: gold;

}



.rowOne,
.rowTwo,
.rowThree,
.rowFour,
.rowFive,
.rowSix,
.rowSeven,
.rowEight,
.rowNine,
.rowTen,
.rowEleven,
.rowTwelve,
.rowThirteen,
.rowFourteen,
.rowFifteen,
.rowSixteen {
    display: flex; 
    flex-direction: row; 
    flex: 1; 
}




/*
.grid-rows {
    display: flex;
    flex: 1;
}

.grid-boxes {
    display: flex;
    flex: 1;
    border: 1px solid black;
    background-color: blueviolet;
}
*/